:root {
	--page-bg: #c5cad0;
	--page-shadows: #777;
}
html { font-size: 10px; }
body {
	font-size: 1.5em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	background: var(--page-bg);
}

/** layout **/

.layout {
	display: grid;
	grid-template-columns: 20rem 1fr 7rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
}
.project_pane {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
	overflow-y: auto;
}
.project_head {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.project_files {
	display: block;
}
.code_pane {
	position: relative;
	/* monaco hovers seem to explode without this */
	overflow: hidden;
}
.tool_pane {
	text-align: center;
	display: grid;
    grid-auto-rows: max-content;
	grid-template-columns: 100%;
	position: relative;
}

/** shared **/

input.renamer {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	/* apparently you can't combine left and right on text inputs */
	/* but you can use width */
	/* why */
	width: 100%;
}
input.renamer.renaming {
	display: block;
}


/** project head **/

.toplink {
	position: relative;
	padding: 1.3rem;
	min-width: 3rem;
	text-align: center;
	user-select: none;
}

.toplink.disabled {
	color: #888;
	pointer-events: none;
}
.toplink:hover {
	background: #fff3;
}
.proj_name {
	grid-column-start: 1;
	grid-column-end: 4;
}


/** project files **/

.file_item {
	display: grid;
	position: relative;
}
.file_item.editing {
	background-color: #fff;
}
.file_item > .parent_bar {
	border-right: 0.1rem solid;
}
.file_item > .collapser {
	position: relative;
}
.file_item > .collapser:after {
	position: absolute;
	top: 48%;
	left: 96%;
	transform: translate(-50%, -50%);
}
.file_item > .collapser.open:after {
	content: '-';
}
.file_item > .collapser.closed:after {
	content: '+';
}
.file_item > .path {
	padding: 0.3rem 0.6rem 0.3rem 1rem;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}
.filebtn {
	display: none;
	font-size: 1.8rem;
	font-weight: 800;
	cursor: pointer;
	text-align: center;
}
.file_item > .filebtn.add {
	position: absolute;
	right: 2.5rem;
	top: 0;
	bottom: 0;
	width: 2.5rem;
	color: #7d7;
}
.file_item > .filebtn.add:after {
	content: '+';
}
.file_item:hover > .filebtn.add {
	display: block;
}
.file_item > .filebtn.delete {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2.5rem;
	color: #d77;
}
.file_item > .filebtn.delete:after {
	content: '×';
}
.file_item:hover > .filebtn.delete {
	display: block;
}
.project_files > .filebtn.add {
	display: block;
	color: #7d7;
}
.project_files > .filebtn.add:after {
	content: '+';
}


/** code pane **/

.code {
	width: 100%;
	height: 100%;
}
.playing_macro_line {
	border-bottom: 3px solid black;
}


/** tool pane **/

.tool {
	padding: 1.3rem 0.5rem;
	text-align: center;
	user-select: none;
}
.tool.macro { color: #e00; }
.tool.status { font-style: italic; }
.tool.bottom {
	font-size: 18px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.tool:hover {
	background: #fff3;
}
.tool_menu > .tool { display: none; }
.tool_menu:hover > .tool { display: block; }
.tool_menu > .tool:first-child {
	display: block;
	color: #666;
}


/** params **/

.params_corner {
	position: absolute;
	bottom: 0;
	right: 10rem;
	pointer-events: none;
    overflow-x: auto;
    white-space: nowrap;
    max-width: calc(100% - 10rem);
}
.params_patch {
	background-color: #c5c5de;
	margin: 1rem;
	display: inline-block;
	pointer-events: auto;
	user-select: none;
}
.param, .params_title { padding: 1rem; }
.param input { width: 160px; }


/** mobile **/

input.collapser, label.collapser { display: none; }
@media (max-width: 940px) {
	.layout { grid-template-columns: 1fr; }
	label.collapser {
		display: block;
		position: fixed;
		right: 13px;
		width: 45px;
		height: 45px;
		top: 5px;
		cursor: pointer;
		z-index: 2;
		background: #eee;
	}
	label.collapser::before {
		content: '';
		position: absolute;
		left: 8px;
		width: 29px;
		height: 5px;
		background: #bbb;
		box-shadow: 0 12px 0 0 #bbb, 0 24px 0 0 #bbb;
		top: 7px;
	}
	input.collapser:checked ~ label.collapser{
		transform: rotate(90deg);
	}
	input.collapser:not(:checked) ~ .project_pane{
		display: none;
	}
	input.collapser:not(:checked) ~ .tool_pane{
		display: none;
	}
}